<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listenersForExtentReport.Listeneres"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.obsqura.RMart.testscript.ManageMain"/>
      <class name="com.obsqura.RMart.testscript.LoginTestSample"/>
      <class name="com.obsqura.RMart.testscript.ManagePageImageUploadTest"/>
      <class name="com.obsqura.RMart.testscript.LogoutPageTest"/>
      <class name="com.obsqura.RMart.testscript.ManageLocationText"/>
      <class name="com.obsqura.RMart.testscript.LoginTestMain"/>
      <class name="com.obsqura.RMart.testscript.AdminUserCreationTest"/>
      <class name="com.obsqura.RMart.testscript.PushNotificationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
